@media (min-width: 768px) and (max-width: 1023px) {
    .header__icon--right {
        right: 0;
    }
    .footer .fa {
        font-size: 48px;
        letter-spacing: 16px;
    }
    
    .footer p, .footer a {
        font-size: 32px;
    }

    .footer a {
        padding: 16px 0;
        display: inline-block;
    }
}

@media (max-width: 1023px) {
    .btn {
        height: 48px;
        width: 100px;
    }
    
    .contact-form .form-control {
        padding: 16px 24px;
    }

    

    .content-section {
        padding: 64px 32px;
    }

    .contact-information {
        font-size: 24px;
        line-height: 2.1;
    }
}


@media (max-width: 757px) {
    .col-third,
    .col-half,
    .s-full-width {
        width: 100% !important;
    }

    .row {
        margin: 0 0;
    }

    .col {
        padding: 0 !important;
    }

    .header {
        overflow: hidden;
    }
    .nav-item {
        display: block;
        float: none;
    }
    .nav-item:first-child {
        display: inline-block;
    }
    .nav {
        display: block;
    }
    .header__icon--right {
        display: none;
        right: 0;
    }

    .header__icon--right.menu__icon {
        display: inline-block;
    }

    .text-content {
        display: none;
    }

    .header-dropdown .nav-item {
        padding-left: 36px;
    }

    .nav-item:hover .header-dropdown li {
        background-color: #333;
    }
    .nav-item:hover .header-dropdown li a {
        background-color: #333;
        color: #fff;
    } 

    .header-dropdown .nav-item:hover a{
        background-color: #ccc;
    }

    .header-dropdown .nav-item:hover a {
        background-color: #ccc;
        color: #000;
    }

    .ticket-thumbnail {
        margin-top: 16px;
    }

    .contact-form {
        margin-top: 32px;
    }

    
    .s-fix {
        margin-top: 8px;
    }
}